@import './theme-blue.scss';
@import './theme-indigo.scss';
@import './theme-purple.scss';
@import './theme-pink.scss';
@import './theme-red.scss';
@import './theme-orange.scss';
@import './theme-yellow.scss';
@import './theme-green.scss';
@import './theme-teal.scss';
@import './theme-cyan.scss';

:root,
[data-bs-theme=light]{
    --bs-main: #0d6efd;
    --bs-main-rgb: 13, 110, 253;
    --bs-main-text-emphasis: #052c65;
    --bs-main-bg-subtle: #cfe2ff;
    --bs-main-border-subtle: #9ec5fe;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  }
  [data-bs-theme=dark]{
    --bs-main-text-emphasis: #6ea8fe;
    --bs-main-bg-subtle: #031633;
    --bs-main-border-subtle: #084298;
  }