:root,
[data-bs-theme=light] {
  --bs-primary: #0d6efd;
  --bs-primary-rgb: 13, 110, 253;
  --bs-primary-text-emphasis: #052c65;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
}
[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-primary-bg-subtle: #031633;
  --bs-primary-border-subtle: #084298;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
}